obj/
*.d
*.o
*.i
*.s
ChangeLog
darkplaces-agl
darkplaces-glx
darkplaces-sdl
darkplaces-dedicated
gmon.out
*.ncb
*.opt
*.plg
*.exe
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM

# Visual Studio
.vs
*.exp
*.ilk
*.iobj
*.ipdb
*.lib
*.pdb
*.user
Debug-darkplaces*/*
Release-darkplaces*/*

# Directories
id1/

darkplaces-dedicated-vs2017.zip
darkplaces-sdl2-vs2017.zip
darkplaces-wgl-vs2017.zip
darkplaces-dedicated-vs2017-x64.zip
darkplaces-dedicated-vs2017-x86.zip
darkplaces-sdl2-vs2017-x64.zip
darkplaces-sdl2-vs2017-x86.zip
darkplaces-wgl-vs2017-x64.zip
darkplaces-wgl-vs2017-x86.zip
