obj/
*.d
*.o
*.i
*.s
ChangeLog
darkplaces-agl
darkplaces-glx
darkplaces-sdl
darkplaces-dedicated
gmon.out
*.ncb
*.opt
*.plg
*.exe
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM

# visual studio
.vs
*.exp
*.ilk
*.lib
*.pdb
*.user

# miscellaneous
Debug-darkplaces*/
Release-darkplaces*/
id1/

